
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 

body {
  background-color: #222;
  color: #ddd;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
}

.box {
  width: 300px;
  margin: 50px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

h1,
h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 2rem;
}

.project1 {
  background-color: #222A2D; /* Dark Blue-Grey */
}

.project2 {
  background: rgb(60,60,60);
  background: linear-gradient(270deg, rgba(60, 60, 60, 1) 11%, rgba(34, 42, 45, 1) 100%);
}

.project3 {
  background: rgb(60,60,60);
  background: linear-gradient(90deg, rgba(60, 60, 60, 1) 11%, rgba(34, 42, 45, 1) 100%);
}

.project4 {
  background: rgb(60,60,60);
  background: linear-gradient(270deg, rgba(60, 60, 60, 1) 11%, rgba(34, 42, 45, 1) 100%);
}

.tech-stack {
  display: flex;
  align-items: center;
  gap: 30px;
}

.tech-icon {
  filter: drop-shadow(0px 0px 5px #ffffff80)
}

.face-icon {
  position: absolute;
  top: 40px;
  left: 20px;
}

.hero-section {
  padding-top: 10rem;
}

.glass {
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 96vh;
  background: rgb(60,60,60);
  background: linear-gradient(180deg, rgba(60,60,60,1) 11%, rgba(34,42,45,1) 100%);
}

.final {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  min-height: 96vh;
  width: 100vw;
  background: rgb(60,60,60);
  background: linear-gradient(270deg, rgba(60, 60, 60, 1) 11%, rgba(34, 42, 45, 1) 100%);
}

.border-gif {
  border-radius: 60px;
  border: 1px pink solid;
}

.container {
  width: 400%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.bubble {
  --r: 1em;
  --t: 1.5em;
  max-width: 300px;
  padding: 1em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t))/var(--r);
  mask: 
    radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
      var(--_p) 100%/var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) border-box;
  color: #fff;
  margin-left: 70px;
}
.left {
  --_p: 0;
  border-bottom-left-radius: 0 0;
  place-self: start;
}

.panel {
  width: 100vw;     
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  padding: 0.1rem;
  background: #fff;
  color: #222;
}

h1 code {
  font-size: 3rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .glass {
    padding: 0.5rem;
  }

  .tech-stack {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .face-icon-container {
    position: absolute !important;
  }
  .hero-section, .phone-copy-rights {
    padding-top: 0 !important;
  }
  .text-container {
    gap: 1rem !important; 
  }
  .phone-container {
    max-width: 62% !important;
  }
  .border-gif {
    border-radius: 30px !important;
  }
  .phone-font {
    font-size: 1.5rem !important;
  }
  .phone-description {
    font-size: 1rem !important;
  }
  h1 code {
    font-size: 2rem !important;
  }
  .phone-paragraph {
    margin-top: 1rem !important;
  }
  .skills-container {
    padding-bottom: 0 !important;
  }
  .icon-container {
    flex-wrap: nowrap !important;
    height: 7rem !important;
  }
}